@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 50px;
}

.contenedor{
    width: 90%;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
}

/* ############## MENU DE NAVEGACIÓN ############## */

header::before{
    content: "";
    display: block;
    margin-bottom: 80px;
}

nav{
    width: 100%;
    height: 80px;
    background-color: #9bcef3;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav{
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
}

.enlaces-header{
    font-weight: 300;
    margin: auto;
    transition: all ease-in-out .6s;
}

.nav .enlaces-header a{
    color: #5d6678;
    text-decoration: none;
    margin-left: 20px;
    padding: 12px;
    border-radius: 10px;
}

.nav .enlaces-header a:hover{
    color: #fff;
    background-color: #30b6ce;
    border-color: #30b6ce;
    transition: all ease-in-out .6s;
}

.hamburguer{
    width: 80px;
    height: 80px;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    z-index: 100;
    display: none;
}

.hamburguer>i{
    font-size: 25px;
    line-height: 80px;
}

.titulospro{
    text-align: left;
    margin: 20px 0;
}

.contenido-header{
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.contenido-header > img{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    animation: ease-in animacion 0.5s;
}

@keyframes animacion{
    0%{
transform: scale(0);
    }
    100%{
transform: scale(1);
    }
}

.textos-header{
    margin: 0 0 0 30px;
}

.contenido-header p{
    font-weight: 300;
    margin-top: 14px;
    color: #5d6678;
    text-align: justify;
}

.contenido-header a{
    margin: 28px 0 0 0;
    width: 150px;
    display: inline-block;
    background: #30b6ce;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(97, 31, 31, 0.46);
}


/* ############# SECTION EDUCACIÓN ############# */
.title{
    margin-top: 50px;
    display: block;
    width: 100%;
    text-align: center;
}

.educacion{
    background-color: #f2f2f2;
}

.content-educacion{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-around;
}

.articulo{
    width: 30%;
    background-color: #fff;
    margin-top: 50px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: all ease-in-out .5s;
}

.articulo:hover{
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
    color: #fff;
    background-color: #9bcef3;
    transition: .5s;
}

.articulo > h3{
    font-size: 24px;
    margin-top: 10px;
    text-transform: uppercase;
}

.articulo > a{
    text-decoration: none;
    color: #000;
}

.articulo > a:hover{
    color: #fff;
    transition: .5s;
}


/* SECTION FOOTER */

footer {
    background: rgb(70, 70, 70);
    padding: 20px 0 /*50 0 20 0 */;
    padding-top: 30px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;

}

.partFooter {
    width: 22%;
    text-align: center;
}

.partFooter img {
    width: 60%;
}

.partFooter h4 {
    
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    background-color: #9bcef3;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid double #9bcef3;
}

.contact {
    margin: 10px;
    display: block;
    text-align:left;
    color: #fff;
}

.contact > i {
    float: left;
    margin-right: 10px;
}

.contact > p {
    font-weight: 500;
}

.partFooter > a {
    color: #fff;
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;

}

.partFooter > a:hover {
    background-color: #9bcef3;
    transition: all ease-in-out .4s;

}

.social-media > a > i {
    color: #fff;
    display:inline-block;
    font-size: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out .3s;
    margin-right: 8px;
}

.social-media > a > i:hover {
    background-color: #9bcef3;
}

.partFooter img {
    width: 40%;
}

/* ################################## MEDIA QUERYS ################################## */
@media screen and (max-width:600px){
   h1{
        font-size: 25px;
   } 
   .contenido-header{
        width: 100%;
        height: 560px;
   }
   .contenido-header>img{
        width: 120px;
        height: 120px;
        animation: ease-in animacion 0.5s;
        margin: 20px 0;
   }
   .articulo, .experience, .certificate, .skills{
        width: 90%;
   }
   .skills{
        margin-bottom: 20px;
   }
   .articulo, .experience, .content-skills{
        margin-top: 20px;
   }
   .content-skills{
        margin-bottom: 20px;
   }
   .content-certificados{
        padding: 0;
        margin-bottom: 30px;
   }
   .certificate{
        margin: 10px;
        padding: 10px;
   }
   .enlaces-header{
        position: fixed;
        background-color: #9bcef3;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        clip-path: circle(0% at 0 0);

   }
   .nav .enlaces-header a{
        color: #fff;
        background-color: #9bcef3;
        text-transform: uppercase;
        font-weight: 800;
        margin-top: 20px;
        width: 50%;
        text-align: center;
   }
   .nav .enlaces-header a:hover{
        color: #9bcef3  ;
        background-color: #fff;
   }
   .hamburguer{
        display: block;
   }
   .nav .hamburgueropen{
        clip-path: circle(150% at 0 0);
   }
   
}